{% extends 'base.html.twig' %}

{% block title %}Pokédex{% endblock %}

{% block body %}

    <div class="container">
      <div class="jumbotron mb-4">
        <h1>TP Pokédex</h1>
        <p class="lead">Retrouvez ci dessous le listing des Pokémon de la génération <span class="badge rounded-pill bg-primary">#{{ generation_number }}</span></p>
      </div>

      <div class="row mt-4">
        {% for pokemon_specie in pokemon_species %}
            <div class="col col-lg-3 my-4">
                <h4>{{ pokemon_specie.name | capitalize }}</h4>
                <p>
                    <a href="" class="btn btn-sm btn-primary">Voir les détails</a>
                </p>
            </div>
        {% endfor %}
      </div>

    </div> <!-- /container -->

{% endblock %}
