{% extends 'base.html.twig' %}

{% block title %}Pokédex{% endblock %}

{% block body %}

    <div class="container">
      <div class="jumbotron mb-4">
        <h1>TP Pokédex</h1>
        <p class="lead">Retrouvez ci dessous les détails du Pokémon <span class="badge rounded-pill bg-primary">#{{ pokemon_id }}</span></p>
      </div>

      <div class="row mt-4">
        
      </div>

    </div> <!-- /container -->

{% endblock %}
